.cproject
.deps/
.project
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
*.o
missing
refopenglapp
texture.bmp

