minimal.supp
.cproject
.deps/
.project
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
main.o
missing
*.o
*.a
*.so.*
*.so
*.la
*.lo
refopenglapp
texture.bmp
.settings
.eclipse_ws
platform-lib/.libs/*
plugins/.libs/*
plugins/.libs/*

